<%= form_with model: [@article, @article.comments.build] do |form| %>
  <div>
    <%= form.label :commenter, style: "display: block" %>
    <%= form.text_field :commenter %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
